<div class='top'>
	<h1><a href='/'>Some Tumblr Ish</a></h1>
	<br>

	<div id='errors'></div>
	<form action="/handle" method="get">
		<input id='type-field' type="text" name="handle" placeholder="Enter your Tumblr handle"/><br><br>
		<h4>What would you like us to retrieve?</h4>
			<input type="radio" name="type" value="text">Text<br>
			<input type="radio" name="type" value="photo">Photo<br>
		<br>
		<input class="btn btn-success" type="submit"/>
	</form>
</div>